.input-visually-hidden{
  position: absolute !important;
  opacity: 0;
  z-index: -10000 !important;
}
.input-number-wrap{
  display: flex;
  font-size: 16px;
}
.input-number-emulator{
  width: 4em;
  text-align: center;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
.input-number-btn{
  display: block;
  height: 2em;
  width: 2em;
  border: 1px solid #000;
  position: relative;
}
.input-number-btn::before, .input-number-btn::after{
  position: absolute;
}

.input-number-plus::before, .input-number-minus::before, .input-number-plus::after{
  content: '';
  display: block;
  width: 80%;
  height: 3px;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.input-number-plus::after{
  transform: translate(-50%,-50%) rotate(90deg);
  transform-origin: center;
}